[submodule "roles/base"]
	path = roles/base
	url = https://github.com/roles-ansible/ansible_role_base.git
[submodule "roles/ranger"]
	path = roles/ranger
	url = https://github.com/roles-ansible/ansible_role_ranger.git
[submodule "roles/bat"]
	path = roles/bat
	url = https://github.com/gantsign/ansible_role_bat.git
[submodule "roles/dotfiles"]
	path = roles/dotfiles
	url = https://github.com/chaos-bodensee/role_dotfiles.git
[submodule "roles/users"]
	path = roles/users
	url = https://github.com/chaos-bodensee/role-manage_users.git
[submodule "roles/ssh_auth"]
	path = roles/ssh_auth
	url = https://github.com/chaos-bodensee/role-ssh_authorized_keys.git
[submodule "roles/sshd"]
	path = roles/sshd
	url = https://github.com/chaos-bodensee/role_sshd.git
[submodule "files/ssh_public_keys"]
	path = files/ssh_public_keys
	url = https://gitea.see-base.de/toolbox/ssh-public-keys.git
[submodule "roles/nginx2"]
	path = roles/nginx2
	url = git@git.ccczh.ch:ansible-roles/role-nginx_new2.git
[submodule "roles/acmetool2"]
	path = roles/acmetool2
	url = git@git.ccczh.ch:ansible-roles/role-acmetool.git
[submodule "roles/webhost2"]
	path = roles/webhost2
	url = git@git.ccczh.ch:ansible-roles/role-webhost.git
[submodule "roles/goaccess"]
	path = roles/goaccess
	url = https://github.com/roles-ansible/ansible_role_goaccess.git
[submodule "roles/geerlingguy.firewall"]
	path = roles/geerlingguy.firewall
	url = https://github.com/geerlingguy/ansible-role-firewall.git
[submodule "roles/robertdebock.fail2ban"]
	path = roles/robertdebock.fail2ban
	url = https://github.com/robertdebock/ansible-role-fail2ban.git
[submodule "roles/robertdebock.dovecot"]
	path = roles/robertdebock.dovecot
	url = https://github.com/robertdebock/ansible-role-dovecot.git
[submodule "roles/unbound"]
	path = roles/unbound
	url = git@git.ccczh.ch:ansible-roles/role-unbound.git
