[submodule "roles/base"]
	path = roles/do1jlr.base
	url = https://github.com/roles-ansible/ansible_role_base.git
[submodule "roles/ranger"]
	path = roles/ranger
	url = https://github.com/roles-ansible/ansible_role_ranger.git
[submodule "roles/bat"]
	path = roles/bat
	url = https://github.com/gantsign/ansible_role_bat.git
[submodule "roles/dotfiles"]
	path = roles/dotfiles
	url = https://github.com/roles-ansible/ansible_role_dotfiles.git
[submodule "roles/users"]
	path = roles/do1jlr.users
	url = https://github.com/roles-ansible/ansible_role_users.git
[submodule "roles/ssh_auth"]
	path = roles/do1jlr.auth
	url = https://github.com/roles-ansible/ansible_role_auth.git
[submodule "roles/sshd"]
	path = roles/do1jlr.sshd
	url = https://github.com/roles-ansible/ansible_role_sshd.git
[submodule "files/ssh_public_keys"]
	path = files/ssh_public_keys
	url = https://backwesen.de/ansible/ssh_public_keys.git
[submodule "roles/nginx2"]
	path = roles/nginx2
	url = git@git.ccczh.ch:ansible-roles/role-nginx_new2.git
[submodule "roles/acmetool2"]
	path = roles/acmetool2
	url = git@git.ccczh.ch:ansible-roles/role-acmetool.git
[submodule "roles/webhost2"]
	path = roles/webhost2
	url = git@git.ccczh.ch:ansible-roles/role-webhost.git
[submodule "roles/geerlingguy.firewall"]
	path = roles/geerlingguy.firewall
	url = https://github.com/geerlingguy/ansible-role-firewall.git
[submodule "roles/robertdebock.fail2ban"]
	path = roles/robertdebock.fail2ban
	url = https://github.com/robertdebock/ansible-role-fail2ban.git
[submodule "roles/robertdebock.dovecot"]
	path = roles/robertdebock.dovecot
	url = https://github.com/robertdebock/ansible-role-dovecot.git
[submodule "roles/gitea"]
	path = roles/do1jlr.gitea
	url = https://github.com/roles-ansible/ansible_role_gitea.git
[submodule "roles/geerlingguy.postgresql"]
	path = roles/geerlingguy.postgresql
	url = https://github.com/geerlingguy/ansible-role-postgresql.git
[submodule "roles/postfix"]
	path = roles/postfix
	url = https://github.com/DO1JLR/ansible_role_postfix.git
[submodule "roles/do1jlr.ansible_version"]
	path = roles/do1jlr.ansible_version
	url = https://github.com/roles-ansible/ansible_role_versioncheck.git
[submodule "roles/do1jlr.mailserver_preperation"]
	path = roles/do1jlr.mailserver_preperation
	url = https://github.com/DO1JLR/ansible_role_mailserver_preperations.git
[submodule "roles/do1jlr.dovecot"]
	path = roles/do1jlr.dovecot
	url = https://github.com/DO1JLR/ansible_role_dovecot.git
[submodule "roles/unbound"]
	path = roles/do1jlr.unbound
	url = https://github.com/roles-ansible/ansible_role_unbound.git
[submodule "roles/do1jlr.rspamd"]
	path = roles/do1jlr.rspamd
	url = https://github.com/roles-ansible/ansible_role_rspamd.git
[submodule "roles/unattended_upgrades"]
	path = roles/unattended_upgrades
	url = https://github.com/jnv/ansible-role-unattended-upgrades.git
[submodule "roles/do1jlr.nginx"]
	path = roles/do1jlr.nginx
	url = https://github.com/DO1JLR/ansible_role_nginx.git
[submodule "roles/do1jlr.acmetool"]
	path = roles/do1jlr.acmetool
	url = https://github.com/DO1JLR/ansible_role_acmetool.git
[submodule "roles/do1jlr.webhost"]
	path = roles/do1jlr.webhost
	url = https://github.com/roles-ansible/ansible_role_webhost.git
[submodule "roles/do1jlr.weechat"]
	path = roles/do1jlr.weechat
	url = https://github.com/roles-ansible/ansible_role_weechat.git
[submodule "roles/do1jlr.rtl_nic_firmware"]
	path = roles/do1jlr.rtl_nic_firmware
	url = https://github.com/DO1JLR/ansible_role_rtl_nic_firmware.git
[submodule "roles/do1jlr.avahi_client"]
	path = roles/do1jlr.avahi_client
	url = https://github.com/roles-ansible/ansible_role_avahi_client.git
[submodule "roles/do1jlr.mysql"]
	path = roles/do1jlr.mysql
	url = https://github.com/roles-ansible/ansible_role_mysql.git
[submodule "roles/do1jlr.admin_base"]
	path = roles/do1jlr.admin_base
	url = https://github.com/roles-ansible/ansible_admin_base_role.git
[submodule "roles/do1jlr.ntp"]
	path = roles/do1jlr.ntp
	url = https://github.com/roles-ansible/ansible_role_ntp.git
