[submodule "roles/base"]
	path = roles/base
	url = https://github.com/roles-ansible/ansible_role_base.git
[submodule "roles/ranger"]
	path = roles/ranger
	url = https://github.com/roles-ansible/ansible_role_ranger.git
[submodule "roles/bat"]
	path = roles/bat
	url = https://github.com/gantsign/ansible_role_bat.git
[submodule "roles/dotfiles"]
	path = roles/dotfiles
	url = https://github.com/chaos-bodensee/role_dotfiles.git
