---
extends: default

rules:
  # 150 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 150
    level: warning
  commas:
    max-spaces-before: 0
    min-spaces-after: 0
  braces:
    max-spaces-inside: 1

