[defaults]
inventory = ./hosts.ini
remote_user = ansible
retry_files_enabled = false
nocows = true

log_path = $HOME/.ansible/ansible.log

forks = 20
gathering = smart
fact_caching = jsonfile
fact_caching_connection = $HOME/.ansible/facts
host_key_checking = false

interpreter_python = /usr/bin/python3

vault_password_file  =./.vault

[ssh_connection]
control_path = %(directory)s/%%h-%%r-%%p
ssh_args = -o StrictHostKeyChecking=accept-new -o ControlMaster=auto -o ControlPersist=600s
pipelining = true
retries = 10

[privilege_escalation]
become = true
become_method = sudo
become_user = root
become_ask_pass = false

